html {
  min-height: 100%;
  position: relative;
}

body{
	background-color: #EEF0F6;
}

.loading {
    background: url('img/ico_loading.gif') no-repeat center center;
     /*Esta parte hará la función de cargador mientras aparece el contenido*/
}

header{
	margin: 80px 0px;
}

#grid-list{
	margin-bottom: 80px;
	background-color: white;
}

#grid-list > div{
	padding: 0px;
	border: solid 1px;
}

.group>.btn:first-child {
    border-right: solid 2px  #47525E ;
}

.btn-primary.disabled{
	background-color: #47525E;
}

.disabled{
    cursor: not-allowed;
}
.btn{
	background-color: #47525E;
	color: white;
}

img{
	max-width: 100%;
	height: 400px;
}

main{
	margin-bottom: 200px;
}

footer{
	background-color: #47525E;
	height: 120px;
	position: absolute;
  	bottom: 0;
}

#parte-dos{
	color: black;
	font-size: 20px;
}

.panel-1{
	padding-left: 0px;
}

.panel-2{
	height: 450px; 
	padding: 0px 40px 0px 40px;	
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://scontent.xx.fbcdn.net/v/t1.0-9/18009998_443726135976204_3149659819624588223_n.jpg?oh=b26ee46567f20e401236946a3885d663&oe=5A961186");

      background-size: cover;
}
.panel-1 > div{
	height: 450px; 
	background-color: #47525E;
}

#user-foto{
   width: auto;
    height: 215px;
    margin-top: 40px;
    margin-bottom: 55px;
}

#img-log{
    margin-top: 18px;
    max-width: 400px;
}

#user-foto{
	border-radius: 126px;
}

.panel-2>.opp>div:first-child {
	padding: 20px 0px 20px 0px;
}
.panel-2>.opp>div:last-child {
 padding: 0px 0px 0px 40px;
 margin: auto;
}

center>span:last-child {
 font-size: 34px;
}

center>span{
 font-size: 34px;
}
center>span>span{
	font-family: 'Pacifico', cursive;
}

ul>li>span{
	font-family: 'Pacifico', cursive;
}
li{
	margin-bottom: 15px;
}


.opp{
  font: 14px Sans-Serif;
  background: rgba(255, 255, 255, 0.75);
  color: black;
  margin-top: 100px;
  padding: 0px 0px 33px 0px;
}
